/*

Editor Stylesheet : Wordpress Administration style

*/

.wp-block {
   //@include wrapper;
   width: 100%;
   max-width: pixel(1200);
 }
 /* Width of "wide" blocks */
 
 .wp-block[data-align="wide"] {
   max-width: pixel(1300);
 }
 /* Width of "full-wide" blocks */
 
 .wp-block[data-align="full"] {
   max-width: pixel(1400);
 }
 