/* Font Face Rules 

 Fonts used :
 
 01 - Roboto 
     1.1 : Roboto Regular
     1.2 : Roboto Italic
     1.3 : Roboto Bold
     1.4 : Roboto Bold Italic

02 - Roboto Condensed 
     2.1 : Roboto Condensed Bold
     2.2 : Roboto Condensed Bold Italic
*/

/* Roboto Regular */

@font-face {
     font-family: 'Roboto';
     font-style:  normal;
     font-weight: 400;
     font-display: swap;
     src: url("./font/roboto-regular.woff2") format("woff2"),
          url("./font/roboto-regular.woff") format("woff"),
            url("./font/roboto-regular.ttf") format("ttf");
}

@font-face {
     font-family: 'Roboto';
     font-style:  italic;
     font-weight: 400;
     font-display: swap;
     src: url("./font/roboto-italic.woff2") format("woff2"),
          url("./font/roboto-italic.woff") format("woff"),
            url("./font/roboto-italic.ttf") format("ttf");
}

@font-face {
     font-family: 'Roboto';
     font-style:  normal;
     font-weight: 700;
     font-display: swap;
     src: url("./font/roboto-bold.woff2") format("woff2"),
          url("./font/roboto-bold.woff") format("woff"),
            url("./font/roboto-bold.ttf") format("ttf");
}
/*
@font-face {
     font-family: 'Roboto';
     font-style:  italic;
     font-weight: 700;
     font-display: swap;
     src: url("./font/roboto-bolditalic.woff2") format("woff2"),
          url("./font/roboto-bolditalic.woff") format("woff"),
            url("./font/roboto-bolditalic.ttf") format("ttf");
}
*/

/* Roboto Condensed */

@font-face {
     font-family: 'Roboto Condensed';
     font-style:  normal;
     font-weight: 700;
     font-display: swap;
     src: url("./font/robotocondensed-bold.woff2") format("woff2"),
          url("./font/robotocondensed-bold.woff") format("woff"),
            url("./font/robotocondensed-bold.ttf") format("ttf");
}

/*
@font-face {
     font-family: 'Roboto Condensed';
     font-style:  italic;
     font-weight: 700;
     font-display: swap;
     src: url("./font/robotocondensed-bolditalic.woff2") format("woff2"),
          url("./font/robotocondensed-bolditalic.woff") format("woff"),
            url("./font/robotocondensed-bolditalic.ttf") format("ttf");
}
*/
