#connectForm {
  background: red;
  background: $white;
  border: 1px solid $black;
  @include spacing(padding, $vertical-padding-small);


  // Wordpress Form Login
  #loginform {

    * {
      display: block;
      margin: 0;
      margin-bottom: 0.5rem;
    }

    label,
    .login-submit {
        margin-top: 1.75rem;
    }

    // Button 'Se connecter'
    .login-submit {
      width: min-content;
      margin-left: auto;
      margin-right: auto;
    } 

    // Checkbox 'Se souvenir de moi'
    .login-remember {
      * {
        display: inline-block;
      }
      input {
        margin-right: 0.5rem;
      }
  
    }
  } 

  // Lost password
  a.link-default {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 2rem;;
  }

}

// Display Ademe Logo on login.php
/*
Did not work
.login #login h1 a {
  background-image: url(./favicon/favicon-512px);
}
*/




/*#connectParent {
  position: relative;

  #connectModal {
    text-align: center;
    position: fixed;
    color: $white;
    left: 0;
    top: 0;
    z-index: $index-modal;
    background: rgba($black, 0.9);
    width: 100%;
    height: 100vh;
    opacity: 1;

    transition: all .6s;

    // Layout
    > * {
      margin: 1rem auto;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    // Modale is hidden
    &.is-hidden {
      top: -105vh;
      opacity: 0;
    }

  }

  #loginform {
    text-align: left;
    width: 100%;
    max-width: pixel(300);
    //background: $white;
    //border: 1px solid $black;
    //padding: 1rem;

    * {
      display: block;
      width: 100%;
      margin: 0;
      margin-bottom: 0.5rem;
    }

    label,
    .login-submit {
        margin-top: 1.75rem;
    }

    .login-submit {
      margin-bottom: 0;
    } 
  }
}

*/