/*
Style Topbar [header.php]

File structure :
------------------
1 - Topbar Style
------------------
2 - Logo Style
    2.1 Logos sizes
------------------
3 - Menu style
    3.1 Reset list Style
    3.2 Menu Primary Style
    3.3 Links style
    3.4 Sub-menu style
    3.5 Sub-menu links style
------------------
4 - Social Media Style
------------------
5 - Searchbar Style
------------------
6 - Desktop Layout for Searchbar + Social Media
------------------
7 - Menu mobile
------------------
8 - Scroll  Behaviour 
------------------
9 - Content Top position

*/

// Container AMI Menu
#topbar-ami {
    position: relative;
    min-height: pixel(200);
    margin-top: pixel(70); // equals topbar-height;
    /*@media screen and (max-width: $tiny_width){
        margin-top: 7.5em;
    } */
    @media screen and (min-width: $mobile-width) {
        margin-top: pixel(130);
        @media screen and (min-width: $tablet-width) {
            margin-top: pixel(130);
            @media screen and (min-width: $menu-width) {
                margin-top: pixel(164);
            }
        }
    }


    // Image Background AMI Menu
    #topbar-background,
    #topbar-img {
        z-index: -1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    // Topbar Image : z-index is below #topbar-background
    #topbar-img {
        z-index: -10;
        min-width: 100%;
        // min-height: 100%; 
        object-fit: cover;
        opacity: 0.3;
    }

    #ami-title {
        min-height: pixel(120) + map-get($fonts, h1-desktop);
        display: inline-block;
        padding: pixel(60) 1rem;
     
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }

    // Menu Style
    .menu-primary_ami {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        @include font(h3);
        font-family: $font-title;
        line-height: $lh-small;
        text-transform: uppercase;

        // White line at the bottom of the menu (background)
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1.25em;
            z-index: -1;
            width: 100%;
            background: $white;

        }

        li {
            display: inline-block;
            margin: 0 -0.25em;
            color: $white;
        }

        // Automatic background-color
        li:nth-child(n+1) > a {
            background-color: rgba(white, 0.1);
        }
        li:nth-child(n+2) > a {
            background-color: rgba(white, 0.2);
        }
        li:nth-child(n+3) > a {
            background-color: rgba(white, 0.25);
        }
        li:nth-child(n+4) > a {
            background-color: rgba(white, 0.3);
        }
        li:nth-child(n+5) > a {
            background-color: rgba(white, 0.35);
        }

        // Link Style
        li:nth-child(n+1) > a,
        li:nth-child(n+2) > a,
        li:nth-child(n+3) > a,
        li:nth-child(n+4) > a,
        li:nth-child(n+5) > a,
        a {
            display: inherit;
            padding: 0.5em 1em;
            text-decoration: none;
            border: 1px solid transparent;
            &:link,
            &:visited {
                color: $white;
            }
            &:hover,
            &:focus,
            &:focus-within {
                color: $color-primary;
                background: $white;
                border-color: $color-primary;
            }
            &:active {
                color: $color-secondary;
                background: $white;
                border-color: $color-secondary;
            }
        }

        li.current-menu-item {
            padding: 1px;
            box-sizing: border-box;
            
            > a {
                &:link,
                &:visited {
                    background: $white;
                    color: $black;
                    border: none;
                }
            }
        }
    }
}

.logged-in{
    #topbar-ami {
        position: relative;
        min-height: pixel(200);
        margin-top: 7em; // equals topbar-height;
        @media screen and (max-width: $tiny_width){
            margin-top: 7em;
        } 
        @media screen and (min-width: $mobile-width) {
            margin-top: 10.65em;
            @media screen and (min-width: $tablet-width) {
                //margin-top: 10.65em;
                @media screen and (min-width: $menu_width) {
                    margin-top: 12.65em;
                }
            }
        }
    }
}