
#modalAnchor {
  position: relative;
  z-index: 1;
  max-width: $wrapper-medium + (2 * map-get($horizontal-padding-regular , $desktop_width ));

  button {
    margin-top: 1.5rem;
  }

  @media screen and (min-width: $mobile_width) {
    button {
      position: absolute;
      top: 0;
      margin-top: 0;
      @include spacing(right, $horizontal-padding-regular );
    }

    h1 {
      padding-right: 8rem;
    }

  }
}

#decorativeBanner.bg-banner {
  z-index: -1;
}

#documentModale {
  transition: all .4s;
  position: fixed;
  left: 0;
  top: 0;
  z-index: $index-modal;
  background: rgba($black, 0.9);
  height: 100vh;
  overflow: scroll;
  padding-top: 6rem;

    &.is-hidden:not(:focus) {
      height: 1px;
      width: 1px;
      transform: translate(100vw, 0);
  }

  #closeForm {
    display: block;
    margin: auto;
    margin-bottom: 2rem;;
  }

  form {
    overflow: scroll;
    margin-bottom: 6rem;
  }
}