/*

Style Form components
! This style doesn't apply to Worpess Admin (see style-editor.scss) !

File structure :
------------------
1 - Form Layout
------------------
2 - Input Style
    2.1 - Submit
    2.2 - Checkbox (RGPD)
    2.3 - Message de validation

*/

// 1 - form Layout
form.form {
    width: 100%;
    max-width: pixel(600);
    @include spacing(padding, $vertical-padding-tiny);
    border: 1px solid $black;
    grid-gap: 1rem;
    margin: auto;
    display: grid;
    justify-items: left;

    > #ResponseAnchor {
        display: block;
        text-align: center;
    }

    > label {
        margin-top: 1.5rem;
    }

    > i {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

}

#content {

    // 2 - Input Style
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="range"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    textarea {
        @include font(h6, regular);
        background-color: $white;
        outline: none;
        border: 2px solid $gray-light;
        box-shadow: none;
        padding: 0.5em;
        width: 100%;
        transition: all .2s;
        &::placeholder {
            color: $gray-dark;
            opacity: 0.5;
            transition: all .2s;
        }
        &:not(:placeholder-shown) {
            background-color : $white;
            &:invalid {
                color: $red;
                border-color: $red;
            }
        }
        &:hover{
            border-color: lighten($color-primary, 20);
        }
        &:focus {
            background-color: $white;
            //color: $color-primary;
            border: 2px solid $gray-light;
            border-color: $color-primary;
            &::placeholder {
                opacity: 0.25;
            }
        }
    }

    // 2.1 - Submit
    input[type="submit"],
    input[type="button"] {
        @include button;
    }
    
    // 2.3 - Message de validation
    #ResponseAnchor {
        // Default state : input button is visible
        * {
            opacity: 1;
            transition: all .2s;
        }
        #ResponseMessage {
            opacity: 0;
        }
        // Message has been sent : #responseMessage is visible
        &.messageSent {
            * {
                opacity: 0;
            }
            #ResponseMessage {
                opacity: 1;
                transition-delay: 0.5s;
            }
        }
    }
} // #content