//Forum Colors
// Colors ara automatically created with following values (in variable.scss) :
// $white, $gray-light, $gray-medium, $red, $yellow, $orange, $green, $color-primary

$forum-grey : #F7F5F4;
$color-forum-title : $gray-dark; //Auparavant : $color-primary; 

// White & gray colors :
$forum-white :  $white;                          // Default : #fff
$forum-grey-1 : $forum-grey;                     // Default : #fbfbfb
$forum-grey-2 : $forum-grey;                     // Default : #f4f4f4
$forum-grey-3 : $forum-grey;                     // Default : #f3f3f3
$forum-grey-4 : $forum-grey;                     // Default : #eaeaea
$forum-grey-5 : $forum-grey;                     // Default : #f9f9f9
$forum-grey-6 : $forum-grey;                     // Default : #747474
$forum-grey-7 : $gray-medium;                    // Default : #707070

// Gray border color :
$forum-brd-grey-1 : darken($forum-grey, 5);      // Default : #eee

// Notifications
$forum-spam-1 : rgba($red, 0.5);                 // Default : #fee
$forum-spam-2 : rgba($red, 0.6);                 // Default : #fdd

$forum-notif-1 : rgba($yellow, 0.1);             // Default : #fef7f1
$forum-notif-2 : rgba($yellow, 0.2);             // Default : #ffffe0
$forum-notif-3 : $yellow;                        // Default : #e6db55
$forum-notif-4 : rgba($yellow, 0.1);             // Default : #fffbcc

$forum-info-1 : rgba($blue, 0.1);                // Default : #f0f8ff
$forum-info-2 : rgba($blue, 0.25);               // Default : #cee1ef

// Password validation
$forum-pswd-short-1 : rgba($red, 0.1);           // Default : #f1adad
$forum-pswd-short-2 : $red;                      // Default : #e35b5b

$forum-pswd-bad-1 : rgba($orange, 0.1);          // Default : #fbc5a9
$forum-pswd-bad-2 : $orange;                     // Default : #f78b53

$forum-pswd-good-1 : rgba($yellow, 0.1);         // Default : #ffe399
$forum-pswd-good-2 : $yellow;                    // Default : #ffc733

$forum-pswd-strong-1 : rgba($green, 0.1);        // Default : #c1e1b9
$forum-pswd-strong-2 : $green;                   // Default : #83c373

// Valid
$forum-valid-1 : rgba($green, 0.1);             // Default : #dfd
$forum-valid-2 : rgba($green, 0.2);             // Default : #aca
$forum-valid-3 : rgba($green, 0.3);             // Default : #beb
$forum-valid-4 : $green;                        // Default : #7c7
$forum-valid-5 : $green;                        // Default : #5a5

// Error
$forum-error-1 : rgba($red, 0.1);               // Default #ffebe8
$forum-error-2 : $red;                          // Default #c00

// Favorite
$forum-favorite-1 : rgba($orange, 0.1);         // Default : #fee
$forum-favorite-2 : $orange;                    // Default : #faa
$forum-favorite-1-hover : rgba($orange, 0.25);  // Default :color:#c88;
$forum-admin-links-hover : $orange;             //Default : #ff4b33

// Some input colors
$forum-input-focus-1 : $color-primary;          // Default : #ccc
$forum-status-closed : $gray-medium;            // Default : #ccc
