/*
Commun page Layout for archive templates
*/


#forum-content {

    //background: red;

    #bbpress-forums .bbp-breadcrumb {
        padding-bottom: 2rem;
    }

    a {
        @include link-default;
    }

    #bbp_search_submit {
        @include button-brd;
    }

    #bbp_search {
        //padding: 1em 1.5em 0.8em;
        @include font-size(text);
    }

    /*-------------------------*/

    #bbpress-forums {
        @include font-size(text);
        line-height: $lh-standard;
    }

    #bbpress-forums div.even,
    #bbpress-forums ul.even {
        background-color:$forum-white;
    }

    #bbpress-forums div.odd,
    #bbpress-forums ul.odd {
        background-color:$forum-grey-1;
    }

    #bbpress-forums div.bbp-forum-header,
    #bbpress-forums div.bbp-reply-header,
    #bbpress-forums div.bbp-topic-header {
        //background-color:$forum-grey-2;
        background-color: $forum-grey-5;
        border-bottom: 1px solid $forum-brd-grey-1;
    }

    #bbpress-forums .status-spam.even,
    #bbpress-forums .status-trash.even {
        background-color:$forum-spam-1;
    }

    #bbpress-forums .status-spam.odd,
    #bbpress-forums .status-trash.odd {
        background-color:$forum-spam-2
    }

    #bbpress-forums .status-pending.even,
    #bbpress-forums .status-pending.odd,
    #bbpress-forums ul.status-pending a {
        background-color:$forum-notif-1
    }

    #bbpress-forums ul.status-closed,
    #bbpress-forums ul.status-closed a {
        color:$forum-status-closed
    }

    #bbpress-forums ul.bbp-forums,
    #bbpress-forums ul.bbp-lead-topic,
    #bbpress-forums ul.bbp-replies,
    #bbpress-forums ul.bbp-search-results,
    #bbpress-forums ul.bbp-topics {
        @include font-size(text);
        border:1px solid $forum-brd-grey-1;
    }

    #bbpress-forums li.bbp-footer,
    #bbpress-forums li.bbp-header {
        background:$forum-grey-3;
        border-top:1px solid $forum-brd-grey-1;
        font-weight:400;
        font-family: $font-title;
        color: $color-forum-title;
        text-transform: uppercase;
        padding:8px;
    }

    #bbpress-forums li.bbp-header {
        //background:$forum-grey-5;
        background: $forum-white;
    }

    #bbpress-forums .bbp-forums-list {
        border-left:1px solid #ddd
    }

    #bbpress-forums .bbp-forums-list .bbp-forum {
        display:inline;
        @include font-size(text);
    }

    #bbpress-forums li.bbp-body ul.forum,
    #bbpress-forums li.bbp-body ul.topic {
        border-top:1px solid $forum-brd-grey-1;
    }

    #bbpress-forums div.bbp-forum-title h3,
    #bbpress-forums div.bbp-reply-title h3,
    #bbpress-forums div.bbp-topic-title h3 {
        background:0 0;
        border:none;
        @include font-size(h3);
        font-family: $font-title;
        line-height:$lh-small;
        margin:0.5em 0;
    }

    #bbpress-forums .bbp-topic-permalink,
    #bbpress-forums a.bbp-forum-title {
        @include link-discrete;
        @include font-size(h3);
        font-family: $font-title;
        text-transform: uppercase;
    }

    /*
    #bbpress-forums div.bbp-forum-author,
    #bbpress-forums div.bbp-reply-author,
    #bbpress-forums div.bbp-topic-author {

        width:115px
    }
    */

    #bbpress-forums div.bbp-forum-author .bbp-author-role,
    #bbpress-forums div.bbp-reply-author .bbp-author-role,
    #bbpress-forums div.bbp-topic-author .bbp-author-role {
        @include font-size(text);
    }

    div.bbp-forum-header,
    div.bbp-reply-header,
    div.bbp-topic-header {
        border-top:1px solid $forum-grey-5;
    }

    span.bbp-author-ip {
        @include font-size(text);
        font-family: $font-title;
        color:$forum-grey-6 ;
    }

    #bbpress-forums div.bbp-reply-content code,
    #bbpress-forums div.bbp-reply-content pre,
    #bbpress-forums div.bbp-topic-content code,
    #bbpress-forums div.bbp-topic-content pre {
        //font-family:Inconsolata,Consolas,Monaco,"Lucida Console",monospace;
        background-color:$forum-grey-5;
        border:1px solid #ddd;
    }

    #bbpress-forums div.bbp-reply-content pre,
    #bbpress-forums div.bbp-topic-content pre {
        line-height:$lh-standard
    }

    div.bbp-breadcrumb,
    div.bbp-topic-tags {
        @include font-size(text);
    }
    span.bbp-admin-links {
        float:right;
        color:#ddd
    }

    span.bbp-admin-links a {
        color:$forum-grey-7;
        @include font-size(text);
    }

    tr td span.bbp-admin-links a:hover {
        color:$forum-admin-links-hover
    }

    .bbp-forum-header a.bbp-forum-permalink,
    .bbp-reply-header a.bbp-reply-permalink,
    .bbp-topic-header a.bbp-topic-permalink {
        color:$forum-grey-7
    }  

    .bbp-row-actions #favorite-toggle a {
        color:$forum-valid-4;
        border:1px solid $forum-valid-2;
        background-color:$forum-valid-1;
        @include font-size(text);
    }

    .bbp-row-actions #favorite-toggle a:hover {
        color:$forum-valid-5;
        border-color:$forum-valid-4;
        background-color:$forum-valid-3
    }

    .bbp-row-actions #favorite-toggle span.is-favorite a {
        color:$forum-favorite-2;
        border:1px solid $forum-favorite-2;
        background-color:$forum-favorite-1;
    }

    .bbp-row-actions #favorite-toggle span.is-favorite a:hover {
        color:$forum-favorite-1-hover;
        border-color:$forum-favorite-1-hover;
        background-color:$forum-spam-2
    }

    .bbp-row-actions #subscription-toggle a {
        color:$forum-valid-4;
        border:1px solid $forum-valid-2;
        background-color:$forum-valid-1;
        font-weight:700;
        @include font-size(text);
    }

    .bbp-row-actions #subscription-toggle a:hover{
        color:$forum-valid-5;
        border-color:$forum-valid-4;
        background-color:$forum-valid-3
    }

    .bbp-row-actions #subscription-toggle span.is-subscribed a {
        color:$forum-favorite-2;
        border:1px solid $forum-favorite-2;
        background-color:$forum-spam-1;
    }

    .bbp-row-actions #subscription-toggle span.is-subscribed a:hover {
        color:$forum-favorite-1-hover;
        border-color:$forum-favorite-1-hover;
        background-color:$forum-spam-2
    }

    #bbpress-forums .bbp-forum-info .bbp-forum-content,
    #bbpress-forums p.bbp-topic-meta {
        @include font-size(text);
    }

    #bbpress-forums .bbp-pagination-links a,
    #bbpress-forums .bbp-pagination-links span.current {
        @include font-size(text);
        line-height: $lh-standard;
        //border:1px solid #efefef;
    }

    #bbpress-forums .bbp-topic-pagination a {
        @include font-size(text);
        font-weight:400;
        line-height: $lh-small;
        border:1px solid #ddd;
        text-decoration:none
    }

    #bbpress-forums .bbp-pagination-links a:hover,
    #bbpress-forums .bbp-pagination-links span.current,
    #bbpress-forums .bbp-topic-pagination a:hover {
        background:$forum-brd-grey-1;
        opacity:.8;
        border:1px solid #ddd
    }

    #bbpress-forums fieldset.bbp-form {
        border:1px solid $forum-brd-grey-1;
    }

    /*
    textarea#bbp_forum_content {
        height:210px
    }
    */

    body.reply-edit .bbp-reply-form div.avatar img,
    body.single-forum .bbp-topic-form div.avatar img,
    body.single-reply .bbp-reply-form div.avatar img,
    body.topic-edit .bbp-topic-form div.avatar img {
        border:1px solid #ddd;
        //background-color:#efefef
    }

    body.page .bbp-reply-form code,
    body.page .bbp-topic-form code,
    body.reply-edit .bbp-reply-form code,
    body.single-forum .bbp-topic-form code,
    body.single-topic .bbp-reply-form code,
    body.topic-edit .bbp-topic-form code {
        @include font-size(text);
        background-color:#f0fff8;
        border:1px solid #ceefe1;
    }

    #bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
        @include font-size(text);
    }

    #bbpress-forums div.bbp-the-content-wrapper input[type=button]{
        color:#555
    }

    #bbpress-forums div.bbp-the-content-wrapper input[type=button]:hover{
        border-color:rgba(0,0,0,.1);
        background-color:rgba(255,255,255,.5)
    }

    #bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar { 
        line-height:$lh-standard
    }

    #bbpress-forums #bbp-your-profile fieldset select
    {
        background-color:$forum-grey-5;
        border:1px solid #ddd

    }

    #bbpress-forums fieldset.bbp-form input[type="text"], 
    #bbpress-forums fieldset.bbp-form select {
        height: unset;
    }

    #bbpress-forums #bbp-your-profile fieldset input,
    #bbpress-forums #bbp-your-profile fieldset textarea {
        background-color:$forum-grey-5;
        border:1px solid #ddd;
    }

    #bbpress-forums #bbp-your-profile fieldset input:focus,
    #bbpress-forums #bbp-your-profile fieldset textarea:focus
    {
        border:1px solid $forum-input-focus-1;
        box-shadow:inset 1px 1px 1px rgba(0,0,0,.1);
        outline-color:rgba(240,255,240,.1)
    }

    #bbpress-forums #bbp-your-profile fieldset p.description {
        border:$forum-info-2 1px solid;
        background-color:$forum-info-1
    }

    #bbpress-forums #password #pass-strength-result {
        background-color:$forum-brd-grey-1;
        border:1px solid #ddd;
        color:#23282d;
    }

    #bbpress-forums #password #pass-strength-result.short {
        background-color:$forum-pswd-short-1;
        border-color:$forum-pswd-short-2;
    }

    #bbpress-forums #password #pass-strength-result.bad {
        background-color:$forum-pswd-bad-1;
        border-color:$forum-pswd-bad-2;
    }

    #bbpress-forums #password #pass-strength-result.good {
        background-color:$forum-pswd-good-1;
        border-color:$forum-pswd-good-2;
    }

    #bbpress-forums #password #pass-strength-result.strong {
        background-color:$forum-pswd-strong-1;
        border-color:$forum-pswd-strong-2;
    }

    #bbpress-forums #password #pass1-text.short,
    #bbpress-forums #password #pass1.short {
        border-color:$forum-pswd-short-2
    }

    #bbpress-forums #password #pass1-text.bad,
    #bbpress-forums #password#pass1.bad {
        border-color:$forum-pswd-bad-2
    }

    #bbpress-forums #password #pass1-text.good,
    #bbpress-forums #password #pass1.good {
        border-color:$forum-pswd-good-2
    }

    #bbpress-forums #password #pass1-text.strong,
    #bbpress-forums #password #pass1.strong {
        border-color:$forum-pswd-strong-2
    }

    div.bbp-template-notice,
    div.indicator-hint {
        background-color:$forum-notif-2;
        border-color:$forum-notif-3;
        color:#000;
    }

    div.bbp-template-notice a {
        color:#555;
    }

    div.bbp-template-notice a:hover {
        color:#000
    }

    div.bbp-template-notice.info {
        border:$forum-info-2 1px solid;
        background-color:$forum-info-1
    }

    div.bbp-template-notice.important {
        border:$forum-notif-3 1px solid;
        background-color:$forum-notif-4
    }

    div.bbp-template-notice.error,
    div.bbp-template-notice.warning {
        background-color:$forum-error-1;
        border-color:$forum-error-2
    }

    div.bbp-template-notice.error a,
    div.bbp-template-notice.warning a {
        color:$forum-error-2
    }

    div.bbp-template-notice li,div.bbp-template-notice p {
        @include font-size(text);
        line-height: $lh-standard;
    }

    #bbpress-forums div.bbp-template-notice code {
        @include font-size(text);
        //background:rgba(200,200,200,.3);
    }

    .bbp-forum-content ul.sticky,
    .bbp-topics ul.sticky,
    .bbp-topics ul.super-sticky,
    .bbp-topics-front ul.super-sticky {
        background-color:$forum-notif-2!important;
        @include font-size(text);
    }

    #bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log,
    #bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log,
    #bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log {
        @include font-size(text);
        color:#aaa;
    }

    .bbp-logged-in h4 {
        font-weight:400;
        font-family: $font-title;
        @include font-size(h4);
    }


    #bbpress-forums .widget_display_replies img.avatar,
    #bbpress-forums .widget_display_topics img.avatar,
    #bbpress-forums div.bbp-template-notice img.avatar,
    #bbpress-forums p.bbp-topic-meta img.avatar,
    #bbpress-forums ul.bbp-reply-revision-log img.avatar,
    #bbpress-forums ul.bbp-topic-revision-log img.avatar {
        border:3px double #ddd;
    }

    .activity-list li.bbp_reply_create .activity-content .activity-inner,
    .activity-list li.bbp_topic_create .activity-content .activity-inner {
        border-left:2px solid $forum-grey-4;;
    }

    #bbpress-forums h1 {
        @include font-size(h1);
        line-height:$lh-small;
    }

    #bbpress-forums #bbp-user-wrapper h2.entry-title {
        @include font-size(h2);
    }

    #bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a
    {
        background:$forum-brd-grey-1;
    }

    .bbp-alert-outer {
        background-color:rgba(0,0,0,.2);
    }

    .bbp-alert-inner {
        background:$forum-white;
        border:1px solid #aaa;
    }

    // Font-size
    @media only screen and (max-width:480px) {

        div.bbp-search-form button,div.bbp-search-form input {
            //@include font-size(text);
        }

        #bbpress-forums div.bbp-reply-author .bbp-author-role,
        #bbpress-forums div.bbp-topic-author .bbp-author-role {
            //@debug font-size(text);
        }

        #bbpress-forums div.bbp-forum-title h3,
        #bbpress-forums div.bbp-reply-title h3,
        #bbpress-forums div.bbp-topic-title h3 {
            //@include font-size(h3);
        }
    }

    @media only screen and (max-width:320px) {
        #bbpress-forums div.bbp-forum-title h3,
        #bbpress-forums div.bbp-reply-title h3,
        #bbpress-forums div.bbp-topic-title h3 {
            //@include font-size(h3);
        }
    }

    @media only screen and (max-width:240px) {
        #bbpress-forums div.bbp-forum-title h3,
        #bbpress-forums div.bbp-reply-title h3,
        #bbpress-forums div.bbp-topic-title h3 {
            //@include font-size(h3);
        }
    }

    // Responsive behaviour
    @media only screen and (max-width: $mobile_width) {

        li.bbp-forum-info, 
        li.bbp-topic-title {
            width: 45%;
        }


        li.bbp-forum-reply-count, 
        li.bbp-forum-topic-count, 
        li.bbp-topic-reply-count, 
        li.bbp-topic-voice-count {
            width: 15%;
        }
        
    }






    // Responsive behaviour
    @media only screen and (max-width: $tiny_width) {

        #bbpress-forums .bbp-topic-title,
        #bbpress-forums .bbp-forum-info {
            text-align: center;
            font-size: 1.25rem;
        }

        #bbpress-forums .bbp-topic-title p.bbp-topic-meta {
            border-top: 1px solid $forum-brd-grey-1;
            border-bottom: 1px solid $forum-brd-grey-1;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }

        
        #bbpress-forums li.bbp-body li.bbp-forum-info,
        #bbpress-forums li.bbp-body li.bbp-topic-title,
        #bbpress-forums li.bbp-header li.bbp-forum-info,
        #bbpress-forums li.bbp-header li.bbp-topic-title {
            width:100%;
        }
        
        #bbpress-forums div.wp-editor-container {
            width:100%;
            overflow:auto
        }

        li.bbp-forum-reply-count,
        li.bbp-forum-topic-count,
        li.bbp-topic-reply-count,
        li.bbp-topic-voice-count {
            width: 25%;
            padding-right: 0.5rem;
            text-align: left;
            font-size: pixel(12);
        }

        li.bbp-forum-freshness, 
        li.bbp-topic-freshness {
            width: 50%;
            text-align: right;
            font-size: pixel(12);
        }

        /*
        #bbpress-forums li.bbp-body li.bbp-forum-freshness,
        #bbpress-forums li.bbp-body li.bbp-topic-freshness,
        #bbpress-forums li.bbp-header li.bbp-forum-freshness,
        #bbpress-forums li.bbp-header li.bbp-topic-freshness {
            clear:both;
            width:100%
        }
        */
    }
}




