$member-nav-guter :  map-get($gutter-column, $tablet_width );
$member-nav-breakpoint : $member-nav-guter + pixel(200) + map-get($horizontal-padding-regular, $tablet_width );


#member-nav {
    img,
    picture {
        border-radius: 50%;
    }

    // Reset style
    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
        color: inherit; // Gets .color1 custom color
        //text-align: left;
        a {
            &:link,
            &:visited {
                color: inherit;
            }
            @include link-base;
            @include font(h3);
            font-family : $font-title;
            text-transform: uppercase;
        }

    }

    // Tiny Screen
    @media screen and (max-width: $tiny_width - 0.01rem) {
        text-align: center;
        li {
            margin-top: 1rem;
            @media screen and (max-width: $tablet_width - 0.01rem) {
                margin-top: 1.5rem;
            }
        }
    }

    // Mobile Screen
    @media screen and (min-width: $tiny_width) {
        display: grid;
        justify-content: start ;
        align-content: center;
        grid-column-gap: $member-nav-guter;
        grid-template-columns: repeat(2, minmax( pixel(100), 1fr)) ;
        max-width: $wrapper-medium + (2 * map-get($horizontal-padding-regular, $tablet_width ));
        
        // Medium Screen

        @media screen and (min-width: $member-nav-breakpoint) {
            grid-template-columns: repeat(2, 1fr);

            // Medium screen only (not above)
            @media screen and (max-width: $tablet_width) {
                img, picture {
                    margin-right: 0;
                }
            }

            // Tablet Screen
            @media screen and (min-width: $tablet_width) {
                grid-template-columns:  pixel(260) auto; 

                // Desktop Screen
                @media screen and (min-width: $desktop_width) {
                    max-width: $wrapper-medium + (2 * map-get($horizontal-padding-regular, $desktop_width )); 
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            //justify-content: space-between;
            justify-content: center;
            align-items: flex-start;
        }

        li {
            position: relative;
            margin-bottom: 0.75em;
            padding-left: 0.5em;
            &:last-child {
                margin-bottom: 0;
            }

            // horizontal line
            &::after {
                content:"";
                position: absolute;
                top: 1em;
                left: -( pixel(100) + $member-nav-guter );
                width: pixel(100) + $member-nav-guter;
                height: 2px;
                color: inherit;
                background-color: currentColor;
                z-index: -1;
            }
        }
    }
}