.blk-contexte-ami {
    .layout {
        display: grid;
        @include spacing(grid-gap, $gutter-column);
        grid-auto-rows : auto;  
        grid-template-columns: repeat(1, 1fr); 
        @media screen and (min-width: $mobile_width) {
            grid-template-columns: repeat(2, 1fr); 
            @media screen and (min-width: $tablet_width) {
                grid-template-columns: repeat(4, 1fr);   
            }    
        }                
    }
    .img-container {
        // Structure
        > * {
            max-width: 100%;
            width: auto;
            height: auto;
            object-fit: cover;
            @media screen and (min-width: $tablet_width) {
                width: 100%;
            }
        }
        > i {
            margin-bottom: 1em;
        }

        // Position
        // Tiny : 1 column
        grid-column: 1 / 2;  
        grid-row: 1 / 2; 

        // Mobile : 2 columns
        @media screen and (min-width: $mobile_width) {
            grid-column: 1 / 2;  
            grid-row: 1 / 3; 
            // Tablet : 4 columns
            @media screen and (min-width: $tablet_width) {
                grid-column: 1 / 3;  
                grid-row: 1 / 4;    
            }    
        } 
    }
      
    .lnk-container {
        // Structure
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 1rem;
        justify-items: end;        
        align-self: center;
        padding: 1rem;

        // Position
        // Tiny : 1 column
        grid-column: 1 / 2;  
        grid-row: 1 / 2; 

        // Mobile : 2 columns
        @media screen and (min-width: $mobile_width) {
            padding: 0;
            align-self: start;
            grid-column: 2 / 3;  
            grid-row: 1 / 2; 
            // Tablet : 4 columns
            @media screen and (min-width: $tablet_width) {
                grid-column: 3 / 5;  
                grid-row: 1 / 2;    
            }    
        } 
    }
      
    .txt-container {
        // Structure
        @media screen and (min-width: $mobile_width) {
            
            .entry-content {
                column-count: 2;
                column-gap: map-get($gutter-column, $mobile_width);
            }

            @media screen and (min-width: $tablet_width) {
                border: 1px solid $white;
                padding: map-get($gutter-column, $tablet_width);
    
                .entry-content {
                    padding: inherit;
                    background-color: rgba($white, 0.85);
                    column-count: 3;
                    column-gap: map-get($gutter-column, $tablet_width);

                }
            }

        }

        // Position
        // Tiny : 1 column
        grid-column: 1 / 2;  
        grid-row: 2 / 3; 

        // Mobile : 2 columns
        @media screen and (min-width: $mobile_width) {
            align-self: start;
            grid-column: 1 / 3;  
            grid-row: 3 / 4; 
            // Tablet : 4 columns
            @media screen and (min-width: $tablet_width) {
                grid-column: 2 / 5;  
                grid-row: 3 / 5;    
            }    
        } 
    }
}


#raw-content #bloc-video{
    .txt-container {
        // Structure
        @media screen and (min-width: $mobile_width) {
            
            .entry-content {
                text-align: center;
                column-count: 1;
            }
        }

        // Position
        // Tiny : 1 column
        grid-column: 1 / 2;  
        grid-row: 2 / 3; 

        // Mobile : 2 columns
        @media screen and (min-width: $mobile_width) {
            align-self: start;
            grid-column: 1 / 3;  
            grid-row: 3 / 4; 
            // Tablet : 4 columns
            @media screen and (min-width: $tablet_width) {
                grid-column: 1 / 5;
                grid-row: 2 / 5;
            }    
        } 
    }
}