/*

Gutenberg Core blocks

File structure :
------------------
1 - #raw-content : Gutenberg Blocks Container
------------------
2 - Default Gutenberg Blocks
------------------
3 - Custom Gutenberg Blocks

*/

// CSS class used with Content editor from ACF

.entry-content {

    @include no-useless-margin;

    a {
        @include link-default;
    }

    blockquote {
        margin: 0;
        padding: 0;
        border-left: 2px solid $color-primary;
        padding-left: 2rem;
        font-size: 2rem;
        color: $gray-dark;
    }

    ul, ol {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    li {
        list-style-position: inside;
        padding: 0;
        margin-bottom: 0.5em;
    }

    img,
    picture,
    figure,
    caption {
        width: auto;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    iframe{
        object-fit: cover;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
