/*

Style Gutenberg Block Event [evenement.php]

File structure :
------------------
1 - Bloc layout
    1.1 - All children
    1.2 - Time
    1.3 - Button
------------------

*/

$sub-menu-item : pixel(260);

.blk-info-project {

    ul {
        background: $white;
        padding: 1rem;
        list-style: none;
    }

    li {

        padding: 0;
        margin-bottom: 1rem;

        * {
            margin: 0;
        }
        @media screen and (min-width: $tiny_width) {
            display: grid;
            @include universal-gutter;
            grid-template-columns: 1fr 1fr;
            @media screen and (min-width: $mobile_width) {
                grid-template-columns: pixel(180) auto;
            }
        }
    }

    // Bold text
    .info-title {
        text-transform: uppercase;
        font-family: $font-title;
        @include font(text);

        @media screen and (min-width: $mobile_width) {
            text-align: right;
        }
    }
}




