$ressource-card-img : pixel(180);
$ressource-card-thumb-mobile : $ressource-card-img + map-get($gutter-row , $tiny_width);
$ressource-card-thumb-tablet : $ressource-card-img + map-get($gutter-row , $tiny_width);

// Single event card
.document-card {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: left;

    max-width: 100%;
    //overflow: hidden;

    @media screen and (min-width: $tiny_width ) {
        flex-flow: row nowrap;
        justify-content: left;
        align-items: center;
    }

    .img-container {

        flex: 0 0 auto;
       
        @include spacing(padding-right, $gutter-column);
        width: $ressource-card-thumb-mobile;
        max-width: $ressource-card-thumb-mobile;
        @media screen and (min-width: $tablet_width ) {
            width: $ressource-card-thumb-tablet;
            max-width: $ressource-card-thumb-tablet;
        }

        * {
            height: auto;
            width: auto;
            max-height: $ressource-card-img;
            max-width: 100%;
            //max-height: $ressource-card-img;
            //max-width: $ressource-card-img;
            object-fit: cover;
        }
    }

    .txt-container {

        flex: 0 1 auto;

        @media screen and (max-width: $tiny_width - 0.01rem ) {

        border-top: 1px solid $black;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        }

        @media screen and (min-width: $tiny_width ) {
            @include spacing(padding-left, $gutter-column);
            border-left: 1px solid $black;
        }
    }

    .doc-content {
        
        * {
            vertical-align: middle;
        }

        img,
        picture {
            margin-right: 0.5rem;
        }
        
    }
}
