// Single event card
.project-card {
   .project-thumb {
       margin-bottom: 1.5rem;
       width: 100%;
       height: auto;
       img, picture {
           width: 100%;
           height: auto;
           object-fit: cover;
       }
   }
   h2, h3 {
       padding: 0 pixel(10);
   }
}

// Project pagination in project-content :
#project-nav {
    width: 100%;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    margin-top: $footer-space;
    //@include spacing(margin-bottom, $vertical-padding-regular);

    a {
        display: inline-block;
        text-decoration: none;
        width: 100%;
        @media screen and (min-width: $mobile_width ) {
            width: 50%;
        }

        &.left {
            img,
            picture {
                float: left;
            }
            i, p {
                padding-left: 2rem;
            }
        }

        &.right {
            img,
            picture {
                float: right;
            }
            i, p {
                padding-right: 2rem;
            }
        }
    }
}