// Single event card
.workshop-card {
    width: 100%;
    @media screen and (min-width: $tiny_width) {
        display: flex;
        flex-flow: row nowrap; 
        //align-items: center;
        justify-content: space-between;
    }

    > * {
        display: inline-block;
    }

    .event-title,
    .event-date {
        @media screen and (min-width: $tiny_width) {
            margin-right: 1rem;
        }
    }

    .event-date {
        padding: 0.5em 0;
        border-top: 3px solid $black;
        border-bottom: 3px solid $black;
        text-align: center;
        width: 100%;

        @media screen and (min-width: $tiny_width) {
            max-width: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .event-title {
        padding: 0.5em 0;
        display: block;
        @media screen and (min-width: $tiny_width) {
            padding: 0 0 0 1rem;
            border-left: 1px solid currentColor;
            flex: 1 1 auto ;
        }
    }

    .button-brd {
        align-self: center;
    }
}